@inherits Umbraco.Web.Mvc.UmbracoViewPage<HighlyDeveloped.Core.ViewModel.AccountViewModel>
@using HighlyDeveloped.Core.Controllers
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>My Account</h2>
            <!--If this is postback - success show message-->
            @if (TempData["status"] != null && (string)TempData["status"] == "OK")
            {
                <p>Your details have been updated</p>
            }
            else
            {
                <!--Otherwise show the form-->
                using (Html.BeginUmbracoForm<AccountController>("HandleUpdatedDetails"))
                {
                    <h2 class="h3">Fill in the details below to register:</h2>
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-controll", @type = "text" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-controll", @type = "text" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>

                    <button type="submit" value="Update Details" name="update-button">Update</button>
                }
            }
        </div>
    </div>
</div>




