@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;

@{
	Layout = "Main.cshtml";
}
<!--Hero Image-->
@Html.Partial("Hero Image")
<!--Call To Action-->
@Html.Partial("Call To Action")

<div class="container">
    <div class="row">
        <div class="col">
            <!--Latest News Cards -->
            @Html.Partial("Latest News")
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <!--Latest Tweets -->
            @Html.Action("GetTweets","Twitter",new { twitterHandle = "HDeveloped" })
            @Umbraco.RenderMacro("GetLatestTweets", new {twitterHandle="HDeveloped"})
        </div>
    </div>
</div>
